name: Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: VirtuousTreaty

          template: terminal
          config_timezone: Asia/Kolkata

          base: header, activity, repositories

          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_languages_limit: 6

          plugin_isocalendar: yes

          plugin_followup: yes
          plugin_followup_sections: repositories

          plugin_lines: yes

          plugin_achievements: yes
          plugin_achievements_display: compact
