name: GitHub Profile Summary Cards

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate cards
        uses: vn7n24fzkq/github-profile-summary-cards@v0.7.0
        with:
          USERNAME: VirtuousTreaty
